psutil>=5.9
pefile>=2023.2.7
yara-python>=4.2.0
pyyaml>=6.0
requests>=2.28.0
cryptography>=41.0.0

# Для работы с csv, json, pathlib, datetime используются стандартные библиотеки Python

# Sigma (pySigma экосистема)
pysigma>=0.9.0
pysigma-backend-elasticsearch>=0.2.0
pysigma-backend-splunk>=0.2.0
pysigma-pipeline-windows>=0.2.0
pysigma-pipeline-sysmon>=0.2.0

# RegistryScanner (offline) — опционально для Windows-реестра
# python-registry

# Интеграции TI (опционально)
# pymisp
# OTXv2
# vt-py
# threatconnect

python-magic>=0.4.27
python-magic-bin; sys_platform == "win32"
tqdm>=4.66.0
sigma-cli>=0.7
python-evtx>=0.6
xmltodict>=0.13
jinja2>=3.1